NODE_ENV=development
PORT=3000
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=deadware
DATABASE_USER=deadware_app
DATABASE_PASSWORD=
MIGRATION_USER=deadware_migrator
MIGRATION_PASSWORD=
POSTGRES_PASSWORD=
SESSION_SECRET=
CLIENT_ORIGIN=http://localhost:5173
COOKIE_SAME_SITE=lax
SIMULATION_TICK_MS=100
DECISION_TICKS=6
CLIENT_POLL_MS=1000
CHECKPOINT_MS=30000
